# the file is automatically created when using git
# this is the line that needs to be manually put

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Nodemon
.nodemon-debug.log